*{
      box-sizing: border-box;
  margin:0;
  padding:0;
}

header{
    width:100vw;
    height:5vh;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#Hero-section{
    display:flex;
    justify-content:space-around;
    width:100vw;
    height:25vh;
}

.Acrylic-section{
    background-color: palevioletred;
    padding: 5%;
}
.Gel-X{
    background-color: pink;
    padding: 5%;
}
.wax-section{
display: flex;
width: 100vw;
height: 20vh;
justify-content: space-around;
background-color: plum;
align-items: center;
}
#Facial-section{
  display: flex;
width: 100vw;
height: 20vh;
justify-content: space-around;
background-color:deeppink;
align-items: center;
}
.nail-section{
    width: 100vw;
    height:20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:fuchsia
}
.booking-section{
      width: 100vw;
    height:10vh;
    display: flex;
    align-items: center;
}