* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: pink;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    border: 5px solid rgb(243, 86, 112);
    margin: 0px;
}

.hero-section {
    height: 80vh;
    width: 100vw;
    border: 5px solid rgb(236, 84, 109);
    display: flex;
    flex-direction: column;
    background-image: url(assets-stanley/photo-1604654894611-6973b376cbde.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hot-picks-section {
    width: 100vw;
    height: 50vh;
    border: 5px solid rgb(243, 93, 118);
    display: flex;
    flex-direction: column;
}

.checkout-section {
    width: 100vw;
    height: 50vh;
    border: 5px solid rgb(243, 93, 118);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.shopping-list {
    flex: 1;
    border: 5px solid rgb(243, 93, 118);
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 10px;
}

.final-sub-section {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.checkout-sub-section-1 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.hero-heading {
    margin: 20px;
    color: white;
    background-color: black;
}

.hero-button {
    margin: 20px;
}

.card-1 {
    background-image: url(assets-stanley/photo-1604654894611-6973b376cbde.avif);
    width: 33vw;
    height: 40vh;
    margin: 10px;
}

.card-2 {
    background-image: url(assets-stanley/photo-1612887390768-fb02affea7a6.avif);
    width: 33vw;
    height: 40vh;
    margin: 10px;
}

.card-3 {
    background-image: url(assets-stanley/photo-1607779097040-26e80aa78e66.avif);
    width: 33vw;
    height: 40vh;
    margin: 10px;
}

.cards-section {
    display: flex;
    flex-direction: row;
}

footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}